*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

html{
    font-family:'myFont';
}

@font-face {
    font-family: myFont;
    src: url(../font/Onest.ttf);
}

body#loginBODY{
background: url(../img/background.jpg) no-repeat center center fixed;
background-size: cover;
}

.loginHeader{
text-align: center;    
}

.loginHeader h1{
    font-size: 50px;
    border-bottom: 5px solid #B5FFB5;
    width: 70%; /* Pas deze waarde aan om de breedte van de streep te wijzigen */
    margin: auto;
}

.loginHeader h1:after{
    content: "";
    display: block;
    margin:0 auto;
    width: 50%;
    height: 5px;
    background: 5px solid #B5FFB5;
}

.loginBody{
    margin:0 auto;
    width: 300px;
    background: #b5ffb56e;
    padding: 20px;
    margin-top: 50px;
    border-radius: 35px;
}

.loginBody h3{
    text-align: center;
    margin-bottom: 12px;
}

.input{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000;
    padding: 0 0 0 45px;

}

.inputEmail{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000;
    padding: 0 0 0 45px;

}


.inputPas{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000;
    padding: 0 0 0 45px;

}

.inputPas2{
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #000000;
    padding: 0 0 0 45px;

}

.inputField{
    display: flex;
    flex-direction: column;
}
.inputField i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #000000;
}

::-webkit-input-placeholder{
    color: #000000;
}

.regexCheck{
    display: none;
    color: #ff4757;
    text-align: center;
    margin-bottom: 10px;
}

#emailExist{
    color: #ff4757;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.submit{
    height: 45px;
    border: none;
    border-radius: 30px;
    font-size: 15px;
    outline: none;
    width: 100%;
}

.submit:hover{
    box-shadow: 1px 5px 7px 1px rgb(0, 0, 0, 0.2);
}

.forget{
    display: block;
    margin-top: -10px; /* Pas deze waarde aan om de labels hoger te zetten */
    padding-bottom: 20px;
    margin-left: 10px;
}

.remember{
    display: block;
    margin-left: 120px;
    margin-bottom: 5px;

}
label a{
    color: #000;
    text-decoration: none;
}

.register{
    margin-top: 10px;
    text-align: center;
}

.payment-plan{
    margin-bottom: 10px;
    margin-left: 60px;
}

#inputField{
    margin-top: 10px;
}

.showBtn{
    position: absolute;
    bottom: 53px;
    right: 515px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 600;
}

#showBTN{
    display: none;

}

.matchedPass{
    text-align: center;
    color: #ff4757;
    margin-bottom: 10px;
    display: none;
}

#matchedPass{
    text-align: center;
    color: #ff4757;
    margin-bottom: 10px;
}

#noPlan{
    text-align: center;
    color: #ff4757;
    margin-bottom: 10px;
    display: none;
    margin-right: 70px;
}

.indicator{
    height: 10px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    display: none;
}

.indicator span{
    width: 100%;
    height: 100%;
    background: lightgray;
    border-radius: 5px;
    position: relative;
}
.indicator span.meduim{
    margin: 0 3px;
}

.indicator span:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.indicator span.active.weak:before{
    background-color: #ff4757;

}

.indicator span.active.meduim:before{
    background-color: orange;
    
}

.indicator span.active.strong:before{
    background-color: #23ad5c;
    
}

.txtStrength{
    text-align: center;
    margin-bottom: 10px;
    font-weight: 500;
    display: none;
}

.txtStrength.weak{
    color: #ff4757;
}

.txtStrength.meduim{
    color: orange;
}

.txtStrength.strong{
    color: #23ad5c;
}

#noName{
    text-align: center;
    color: #ff4757;
    margin-bottom: 10px;
    display: none;
}

.header{
    width:100%;
    height: 20px;
    background: #B5FFB5;
}


.banner{
    background: url(../img/haven.jpg) no-repeat center center fixed;
    background-size:cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.homepageContainer{
    width: 100%;
    max-width: 900px;
    height: 60vh;
    margin: 0 auto;
}

.txtGreen {
    color: #b5ffb5;
}

#txt1 {
    display: block;
}

#txt2, #txt3, #txt4 {
    display: inline-block;
    margin: 0 5 0 0px; /* Pas deze waarde aan om de afstand tussen de teksten te wijzigen */
}

.bannerIcons{
    margin-top: 25px;
}

.bannerIcons a{
    font-size: 2em;
    margin:0 40 0 0px;
    background: #b5ffb59d;
    padding: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #ffffff
}


.bannerIcons a:hover{
    background: #b5ffb5;
    font-size: 40px;
    width: 55px;
    height: 55px;
    transition: .5s;
}

#container{
    max-width: 1500px;
    background-color: #E4E4E4;
}

.homepageFeatures{
    display: flex;
    flex-direction: row;
    padding: 20 0px;
    /*gap: 0px; /* Voeg deze regel toe om meer ruimte tussen de elementen te creëren */
}

.homepageFeature{
padding: 10px 20px;
text-align: center;
}
.homepageFeature span{
    display:inline-block;
    height: 80px;
    border-radius: 50%;
    width: 80px;
    font-size: 50px;
    background-color: #B5FFB5;
    padding-top: 13px;
    margin-bottom: 20px;   
}

.homepageFeature h3{
    margin-bottom: 5px;
}
#foot{
height: 100px;
}

.footerContent{
    text-align: center;
}
.footerContent h3{
    margin-top: 20px;
    margin-right: 45px;
}

.footerContent a{
    font-size: 2em;
    margin:0 40 0 0px;
    background: #b5ffb59d;
    padding: 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-top: 10px;
}

.footGoto{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 117px;
    margin-top: 10px;
}

.footGoto a{
    color: #000000;
    text-decoration: none;
    margin-left: 30px;
}

#pricebanner {
    background: url(../img/portworkers.jpg) no-repeat center center fixed;
    background-size: cover;
}


.bannerContainer {
    display: flex;
    align-items: center;
}

.btnTogo {
    margin-top: 25px; /* Pas deze waarde aan om de knop lager te plaatsen */
    display: inline-block;
    text-align: center;
    background: #000000;
    border-radius: 15px;
    padding: 20px; 
    width: 129px;
    height: 15px; /* Adjusted height to accommodate centering */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
  
}

.btnTogo a {
    color: #ffffff;
    text-decoration: none;
}

.bannerFeature{
    display: flex;
    flex-direction: row;
    gap: 150px;
    
}

.bannerFeatures{
    background: #000000;
    color: #ffffff;
    text-align: center;
    border-radius: 15px;
    padding: 20px; 
    width: 250px;
    height: 330px;
    margin-top: 20px;
}

.bannerFeatures a{
    color: #ffffff;
    text-decoration: none;
}

.sumText{
    text-align: center;
    width: 100%;
    max-width: 900px;
    height: 60vh;
    margin: 0 auto ;
    padding: 50px;
}


.sumText p{
    margin-top: 20px;
}

.loginBtn{
    float: right;
    margin-right: 100px;
    margin-top: -75px;
    background: #000000;
    border-radius: 15px;
    padding: 20px;
    width: 80px;
    height: 15px; /* Adjusted height to accommodate centering */
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.foutMessage{
    background: #f5b7c1;  /* Lichtrood */
    color: #D32F2F;      /* Donkerrood */
    padding: 12px;
    text-align: center;
    border-left: 4px solid #D32F2F;
    border-right: 4px solid #D32F2F;
    margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.successMsg {
    background: #b5ffb5;  /* Lichtgroen */
    color: #388E3C;      /* Donkergroen */
    text-align: center;
    border-radius: 7px;
    padding: 10px 20px; /* Adjusted padding for better spacing */
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 0 auto; /* Center the element itself */
    width: fit-content; /* Adjust width to fit the text */
    height: auto; /* Adjust height to fit the content */
    margin-top: 10px;
    display: none;
}

.failureMsg {
    background: #f5b7c1;  /* Lichtrood */
    color: #D32F2F;      /* Donkerrood */
    text-align: center;
    border-radius: 7px;
    padding: 10px 20px; /* Adjusted padding for better spacing */
    display: flex;
    align-items: center;
    justify-content: center; /* Center horizontally */
    margin: 0 auto; /* Center the element itself */
    width: fit-content; /* Adjust width to fit the text */
    height: auto; /* Adjust height to fit the content */
    margin-top: 10px;
    display: none;
}

.loginBtn a{
    text-decoration: none;
    color: #ffffff;
}

/* Dashboard */


#dbMainContainer{
    display: flex;
    flex-direction: row;
    color: #ffffff;
    text-decoration: none;
}

.dbSidebar{
    width: 20%;
    background: #323232;
    height: 100vh;
}

.sidebarUser{
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #b5ffb5;
}
.dbsidebar-Logo{
    margin-left: 8px;
    font-size: 16px;
}

.sidebarUser img{
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #b5ffb5;
    margin-left: 20px;
}

.sidebarUser span{
    position: absolute;
    top: 54px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 10px;
}

.dbsidebar-menuList li{
    padding: 20px 23px;
    font-size: 18px;
    text-transform: uppercase;
    list-style: none;
}

.dbsidebar-menuList li a{
    text-decoration: none;
    color: #ffffff;
}

.dbsidebar-menuList li.menuActive{
    background: #b5ffb5;
}

.dbsidebar-menuList li:hover{
    background: #b5ffb5;
}

.dbcontent-Container{
    width: 80%;
}

.dbtopNav{
    padding: 30px;
    background: #e4e4e4;
}

.dbtopNav a{
    text-decoration: none;
    color: #848383;
    font-size: 18px;
}

#logoutBtn{
    float: right;
}


.dbcontent{
    background: #ffff;
    padding: 20px 10px 10px 10px;
}

.dbcontent-Min{
    background:  #E4E4E4;
    min-height: 90%;
    height: 100%;
}
